
/* Barra de Navegacion*/
.navbar {
   
    align-content: center;
    background-color: rgb(173,232,244);
}

.navbar-nav {
    padding-left: 160px!important;
}
.nav-item {
    margin-right: 15px;
        
}

.nav-link{
    color: rgb(4, 4, 94);
}

.nav-item{
    font-size: x-large;
}

/* LOGO */
.navbar img {
    height: 86px;
    width: 215px;
    margin-bottom: 10px;
    margin-left: 114px;
    margin-right: 50px;
}


/* Carrousel */
.slide{
    width: 100%;
}
.sustentabilidad{
    font-family: 'Montserrat';
    color: white;
    background-color: rgb(18, 176, 18);
    padding: 15px;
    margin: 0px;
}
/*Section Center*/
.present {
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentacion {
    font-size: 12pt;
    margin: 16px;
    font-family: 'Montserrat';
    color: #333338;
    width: 80%;
    text-align: justify;
}

.linea-inf {
    border-top: 10px solid rgb(4, 4, 94);
    height: 10px;
    width: 80%;
    padding: 0;
    margin: 3px auto 0px auto;
  }

.linea-sup {
    border-top: 10px solid rgb(4, 4, 94);
    height: 10px;
    width: 80%;
    padding: 0;
    margin: 40px auto 0px auto;
  }

.linea-down{
    border-top: 10px solid #04045e;
    height: 10px;
    width: 80%;
    padding: 0;
    margin: 40px auto 0px auto;

  }
 
.certificaciones{
    transform-origin: 1%;
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 900;
    color: rgb(4, 4, 94);
}
.certi {
    margin-top: 30px;
}
.cert {
    font-family: 'Montserrat';
    font-weight: bold;
}
/* Section Down*/
.cualidades {
    margin: 35px 0px 35px 0;
    font-family: 'Montserrat';
    color: rgb(4, 4, 94);
    width: 80%;
}

.down {
    display: flex;
    align-items: center;
    justify-content: center; 
}



.card-body {
    flex: 1 1 auto;
    height: auto;
    width: 100%;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    border: #f0f8ff;
    border-style: solid;
    -webkit-box-shadow: 4px 4px 10px -7px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 4px 10px -7px rgba(0,0,0,0.51);
    box-shadow: 4px 4px 10px -7px rgba(0,0,0,0.51);
}
.h3 {
    color: crimson;
}
.h5 {
    font-size: x-large;
    font-weight: 900;
}

/* Footer*/
.footer-name{
    background-color: rgb(173,232,244);
    color: rgb(4, 4, 94);
    font-family: 'Montserrat';
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}

.footer mt-3 bg-light {
    margin-bottom: 0px;
    margin-top: 15px;
    padding-bottom: 0px;
    /* padding-bottom: 1rem!important;*/
}

.footer-contac{
   font-size: x-large;
   padding-top: 10px;
   padding-bottom: 10px;
}

/*Impresas*/

.tabla {
    display: flex;
    align-items: center;
    justify-content: center;  
    }

.impresas {
    width: 80%;
    text-align: justify;
    padding: 5px;
    color: rgb(4, 4, 94);
    font-family: 'Montserrat';
    
}
.title-imp {
    text-align: center;
    margin-top: 10px;
    background-color: #74b3ce;
    font-family: 'Montserrat';
    color: rgb(3, 3, 133);
    
}

/*Genericas*/

.genericas {
    width: 80%;
    text-align: justify;
    padding: 5px;
    color: rgb(4, 4, 94);
    font-family: 'Montserrat';
}

/*Nosotros*/

.title-nos, .ambiente, .title-form, .para-validacion{
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    color: rgb(4, 4, 94);
    font-family: 'Montserrat';

}


/*Formulario de Contacto*/

.form-contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 72px; */
    color: #04045e;
    font-family: 'Montserrat';
    margin-top: 30px;
    padding: 100px;
    background: #f0f8ff;
}

/*Validacion*/

.para-validacion{
    font-size: xx-large;
    font-weight: 900;
}

/* TEXT SLIDER */

#sustentabilidad {
   
    background-color: rgb(18, 176, 18);
    padding: 35px;
    margin: 0px;
    
}

.slider-h-sus
{
	margin: auto;
	overflow: hidden;
	padding: 20px;
	position: relative;
	width: 600px;
}

.slider-h-sus li
{
	
	position: relative;
	width: 600px;
	display: inline-block;
	
}

.slider-h-sus ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .2s linear;
	-moz-transition: left .2s linear;
	-o-transition: left .2s linear;
	-webkit-transition: left .2s linear;
	margin-left: -25px;
  
}

/* Content slider */

.sus-line
{
    font-size: x-large;
    font-family: montserrat;
    color:rgb(255, 255, 255);
	
	width: 100%;
 /*   min-height: 180px; */
    text-align:center;
}

.sus-line link {
    color: #fff;
    font-style: normal;
    outline: none;
}

.slider-container h2
{
 	color: #fff;
}



/* animation */

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

.slider-h-sus ul
{
	-webkit-animation: slide-animation 15s infinite;
}

.slider-h-sus ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

/* para collapse */
.oculto{
    display: none;
}
  